.OverFoot {
}

.row {
  width: 100%;
  padding-left: 500px;
}

#Footer {
  padding-top: 30px;
}

.githubBoys {
  text-decoration: underline;
  width: 100%;
}

#pic {
  display: flex;
  align-items: flex-start;
}
