a {
  color: #fff;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

a:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #ffffff;
  -webkit-fill-color: #ffffff;
  text-shadow: 1px 0px 20px black;
}
