.Homepage {
  text-align: center;
  width: 100%;
  height: 100%;
}

.Title {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50%;
}

.Artists {
  positon: relative;
  margin-bottom: inherit;
}
