@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.resize {
    width: auto;
    height: 200px;
    width: 200px;
}

.options {
  text-align: center;
  border-radius: 15px
}

.parent {
  /* flex-flow: column; */
  flex-wrap: wrap;
  align-items: flex-start;


  /* background: yellow; */

}
/* //=============Rendering images of artists and Songs=========// */
.flexy {
  overflow:auto;
  float: right;
  flex-direction: column;
  align-items: center;

}

.rendering {
  width:100%;
  justify-content: space-between;
}

.tracks {
  text-align: center;
  flex-direction: column;
  padding-bottom: 290px;
}
.themartists {
  text-align: center;
}
.eachartist {
  margin-bottom: 75px;
}
h3 {
  color:white;
}

/* ==================END RENDER OF IMAGES AND ARTISTS========= */

.tr {
  /* justify-content: center;
  align-items: center; */
  height:100vh;
}


.blog-card {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -175px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

img {
  height: 100%;
  object-fit: cover;
}

.blog-card .color-overlay {
  /* Rectangle 11: */
  /*background: rgba(0, 0, 0, 0.5);*/
  /*rgba(84, 104, 110, 0.4); */
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -moz-linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -o-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 350px;
  height: 500px;
  position: absolute;
 /* top: 350px; */
  left: 0;
  z-index: 15;
}
.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}
/* .blog-card:hover .color-overlay {
  background: rgba(255, 24, 110, 0.8);
} */

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #f1c40f;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}

.followers {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 0;
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.little-header {
  color: #d0bb57;
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}

.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #dce3e7;
  font-family: "Roboto", sans-serif;
}
.utility-list li.comments {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg)
    no-repeat 0 0.1em;
}
.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg)
    no-repeat 0 0.1em;
}
