.cf:before, .cf:after {
    content: " ";
    display: table;
}

.parent1 {
  margin-left: 1%;
  margin-top: 0;
  z-index: 1;

}
.heading {
  z-index: 2
}

.col {
  height:720px;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-24 {
    width: 300px;
}

.bg-black-05 {
    background-color: rgba(0, 0, 0, .05);
}

.pv5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.tc {
    text-align: center;
}


.col1 {
  background-image: url('./Drake.jpg');
}
.col2 {
  background-image: url('./Travis.jpg');
}

.SecTitle {
  text-decoration-line: underline;
  font-size: 180%;
}

p {
  color:white;
  font-size: large;
}

.contactInfo {
  color:white;
}
.names {
  color:black;
  text-shadow: 2px 2px #ffffff;
}
